.highlight-card {
  padding: 5px;
}

.highlight-card__title {
  color: var(--secondary-color, darkturquoise);
  font-size: 2rem;
}

.highlight-card__description {
  color: var(--text-dark-color, black);
  font-size: 1rem;
  margin: 5px 0;
}
