.intro-slider {
  width: 100%;
  height: 95vh;
  background-size: cover;
  margin-bottom: 50px;
}

.intro-slider__text {
  position: absolute;
  top: 15%;
  left: 60%;
  z-index: 100;
}
.intro-slider__text h1 {
  font-size: 5rem;
  color: var(--primary-color, teal);
}
.intro-slider__text h3 {
  font-size: 3rem;
  color: var(--secondary-color, darkturquoise);
  transform: translateX(-30px);
}

.intro-slider__img {
  width: 100%;
  height: 95vh;
}

.intro-slider .slick-dots li button:before {
  color: var(--primary-color, teal);
  font-size: 12px;
}
.intro-slider .slick-dots li.slick-active button:before {
  color: var(--secondary-color, darkturquoise);
}

.intro-slider .slick-arrow {
  z-index: 100;
  width: 40px;
  transition: all 0.3s ease 0s;
}
.intro-slider .slick-arrow:before {
  color: var(--secondary-color, darkturquoise);
  opacity: 0.8;
  border-radius: 50%;
  transition: 0.6s;
  font-size: 40px;
}
.intro-slider .slick-prev {
  left: 8px;
}
.intro-slider .slick-next {
  right: 8px;
}
.intro-slider .slick-prev:hover,
.intro-slider .slick-next:hover {
  transform: translateY(-15px);
}

@media only screen and (max-width: 700px) {
  .intro-slider__text {
    left: 45%;
  }
}
@media only screen and (max-width: 400px) {
  .intro-slider__text {
    left: 30%;
  }
  .intro-slider__text h3 {
    font-size: 4rem;
  }
  .intro-slider__text h3 {
    font-size: 2.5rem;
  }
}
